.git
.gitignore
electron
app_data
node_modules
**/node_modules
**/.next
**/__pycache__

servers/fastapi/tmp
servers/fastapi/debug
servers/fastapi/.venv

servers/nextjs/node_modules
servers/nextjs/.next

container.db
